<template>
  <q-page padding>
    <Access v-if="!isAuthenticated"/>
    <div v-else>
      <ActiveShops />
      <ChatDelivery />
    </div>
  </q-page>
</template>

<script>
import {ref,provide} from "vue";
import Access from '../components/Access'
import ActiveShops from '../components/ActiveShops'
import ChatDelivery from '../components/ChatDelivery'
import {auth} from 'boot/firebase';
import {useAuth} from '@vueuse/firebase/useAuth';
export default {
  components:{Access, ActiveShops, ChatDelivery},
  setup(){
    const {isAuthenticated,user} = useAuth(auth);
    const userSelected = ref('');
    provide('userSelected', userSelected);
    return{
      isAuthenticated
    }
  }
};
</script>
