<template>
  <div class="q-px-xl">
    <h5>Formulario de {{acc ? 'Login' : 'Registro'}}</h5>
    <q-form class="q-gutter-md" @submit.prevent="processForm">
      <q-input label="Email" v-model="email" />
      <q-input label="Password" v-model="password" />
      <q-btn :label="acc ? 'Login':'Registro' " type="submit" color="primary"/>
      <q-btn color="primary" outline v-if="!acc" @click="acc = true">¿Ya tienes Cuenta?</q-btn>
      <q-btn color="negative" outline v-else @click="acc = false">¿No tienes Cuenta?</q-btn>
    </q-form>
  </div>
</template>

<script>
import {ref} from 'vue';
import {auth, db} from 'boot/firebase';
export default {
  setup() {
    const email= ref('');
    const password = ref('');
    const acc = ref(true);

    const processForm = async() => {
      if (!email.value.trim() || !password.value.trim()){
        console.log('Campos vacíos');
        return;
      }
      try {
        if (!acc.value){
          //Register
          const response = await auth.createUserWithEmailAndPassword(email.value, password.value);
          console.log(response.user);
          await db.collection('users').doc(response.user.uid).set({
            email: response.user.email,
            enable: true,
            uid: response.user.uid
          });

        }else{
          //Login
          const response = await auth.signInWithEmailAndPassword(email.value, password.value);
          console.log(response.user);
          await db.collection('users').doc(response.user.uid).update({
            enable: true
          });
        }
        email.value = '';
        password.value = '';
      } catch (error) {
        console.log(error);
      }
    }

    return {
      email,
      password,
      processForm,
      acc
    }
  },
}
</script>