<template>
  <q-page-sticky position="top" expand class="tabs-zindex">
    <q-tabs
      v-model="userSelected"
      inline-label
      outside-arrows
      mobile-arrows
      class="bg-primary text-white shadow-2 full-width"
    >
      <q-tab 
      v-for="user in withoutUser" :key="user.uid"
      :name="user.uid" 
      icon="account_circle" 
      :label="user.email"
      :class="user.enable ? 'text-white' : 'text-grey' " />
    </q-tabs>
  </q-page-sticky>
</template>
<script>
import { ref, computed, inject} from "vue";
import {db, auth} from 'boot/firebase';
import {useAuth} from '@vueuse/firebase';
export default {
  setup() {
    const userSelected = inject('userSelected');
    const users = ref([]);
    const {user} = useAuth(auth);

    db.collection('users')
    .onSnapshot((snapshot) =>{
      snapshot.docChanges().forEach((change) =>{
        if (change.type === 'added'){
          console.log('Usuario nuevo', change.doc.data());
          users.value = [...users.value, change.doc.data()];
          users.value = users.value.sort((a,b) => b.enable - a.enable);
        }
        if (change.type === 'modified'){
          console.log('Usuario cambiado', change.doc.data());
          users.value = users.value.map(user=>
          user.uid === change.doc.data().uid ? {...user, enable:change.doc.data().enable}: user)
          users.value = users.value.sort((a,b) => b.enable - a.enable);
        }
        if(change.type === 'removed'){
          console.log('Usuario eliminado', change.doc.data());
        }
      })
    });

    const withoutUser = computed(()=>{
      return users.value.filter(item=>item.uid !== user.value.uid);
    })
    return { userSelected, withoutUser };
  },
};
</script>
<style scoped>
.tabs-zindex{
  z-index:2000;
}
</style>