<template>
  <div v-if="userSelected !== ''" class="q-mt-xl" ref="refChat">
    <div class="q-pa-md row justify-center q-mt-xl">
      <div style="width: 100%">
        <q-chat-message 
        v-for="chat in chats"
        :key="chat.id"
        :name="chat.userFrom" 
        :text="[chat.message]" 
        :sent="chat.uid === user.uid" />
      </div>
    </div>
    <q-footer>
      <q-form @submit.prevent="sendMessage">
        <q-toolbar class="bg-grey-3 text-black row">
          <q-btn round flat icon="insert_emoticon" class="q-mr-sm" />
          <q-input
            rounded
            outline
            dense
            class="col-grow q-mr-sm"
            bg-color="white"
            v-model="message"
            placeholder="Escriba un mensaje"
          />
          <q-btn round flat icon="send" type="submit" />
        </q-toolbar>
      </q-form>
    </q-footer>
  </div>
  <div v-else class="q-mt-xl">
    <h5 class="q-mt-xl">Selecciona un usuario para hablar</h5>
  </div>
</template>
<script>
import { ref, inject, watch } from "vue";
import { auth, timeServer, db } from "boot/firebase";
import { useAuth } from "@vueuse/firebase";

export default {
  setup() {
    const message = ref("");
    const userSelected = inject("userSelected");
    const { user } = useAuth(auth);
    const chats = ref([]);
    let unsuscribe;
    const refChat = ref(null);
    watch(
      ()=> userSelected.value,
      (newUid)=> {
        if (unsuscribe){
          unsuscribe();
          if (newUid){
            getColMessage(newUid);
          }
        }else{
          getColMessage(newUid);
        }
      }
    );

    const getColMessage = (newUserSelected) => {
      chats.value= [];
      unsuscribe = db.collection("chat")
        .doc(user.value.uid)
        .collection(newUserSelected)
        .orderBy("date")
        .onSnapshot((snapshot) => {
          snapshot.docChanges().forEach((change) => {
            if (change.type === "added") {
              console.log("Chat nuevo", change.doc.data());
              chats.value.push({...change.doc.data(), id: change.doc.id});
            }
            if(refChat.value){
              setTimeout(() =>{
                window.scrollTo(0, refChat.value.scrollHeight);
              },50);
            }
          });
        });
    };

    const sendMessage = async () => {
      if (!message.value.trim()){
        return;
      }
      try {
        const objMessage = {
          uid: user.value.uid,
          userFrom: user.value.email,
          userTo: userSelected.value,
          message: message.value,
          date: timeServer(),
        };
        console.log(objMessage);
        await db
          .collection("chat")
          .doc(user.value.uid)
          .collection(userSelected.value)
          .add(objMessage);

        await db
          .collection("chat")
          .doc(userSelected.value)
          .collection(user.value.uid)
          .add(objMessage);

        message.value = "";
      } catch (error) {
        console.log(error);
      }
    };
    console.log('Usuario Seleccionado', userSelected);
    return { message, sendMessage, userSelected, chats, user, refChat };
  },
};
</script>